 html {
  position: relative;
  min-height: 100%;
  background-color: black;
}

body{
  margin-bottom:170px;

}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 170px;
  background-color: black;
  color: white;
}

#root {
  background-color: black;
}

.navbar-brand,
.card-title {
  color: white;
  font-weight: 600;
}

.nav-link,
.navbar-brand:hover,
.navbar-brand.active,
.navbar-light .navbar-nav .nav-link.active,
#collasible-nav-dropdown.dropdown-toggle.nav-link {
  color: white;
}

.nav-link:hover,
#collasible-nav-dropdown.dropdown-toggle.nav-link:hover {
  color: gray;
}

.category-container,
.carousel-caption,
.intro-container p,
.admin-order-page thead,
.admin-order-page td,
.admin-product-page thead,
.admin-product-page td,
.admin-user-page thead,
.admin-analytics-page .form-label,
.navbar {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.intro-container {
  height: 600px;
  margin: 100px;
}

.intro-container h1 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  font-weight: 600;
}

/* .intro-container p {
  color: white;
  font-family: 'Montserrat', sans-serif;
} */

.admin-order-page h1,
.admin-user-page h1,
.admin-product-page h1,
.admin-analytics-page h1 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

#dropdown-basic-button,
.search-btn,
.card {
  background-color: black;
  border-color: transparent;
  color: white;
}

.card-img {
  border-radius: 10%;

}

 .custom-rating .fas {
  color: #f5c518;
} 

